
<%- include('header') -%> 
<%- include('navbar') -%> 
    <div class="container col-8 mt-2">
            <div class="row mb-2">
                <div class="col-sm-10 col-12 mt-2"><h2>Rentable <b>Items</b></h2></div>
                <div class="col-sm-2  col-12 mt-2">
                   <a href="inventory/new" type="button" class="btn btn-info"><i class="fa fa-plus"></i> Add New</a>
                </div>
            </div>
        <table class="table mb-1 bg-light shadow rounded">
          <%- include('errorbox') %> 
            <thead class="bg-dark text-white">
              <tr>
                <th>Name</th>
                <th>Type</th>
                <th class="pl-4">Actions</th>
              </tr>
            </thead>
            <tbody>
              <% inventories.forEach(function(item){%>
                <tr>
                  <td>
                    <div class="d-flex align-items-center">
                       <i class="fas fa-screwdriver fa-2x fa-fw"></i>
                      <div class="ml-3">
                        <p class="fw-bold mb-1"><%= item.name %> </p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="fw-normal mb-1"><%= (types!=='undefined') ? types[item.type] : item.type %> </p>
                  </td>
                  <td>
                      <div class="d-flex align-items-center">
                          <a href="/inventory/edit/<%= item._id %> " class="btn btn-link btn-sm btn-rounded text-warning">
                              <i class="fas fa-edit fa-lg fa-fw"></i>
                          </a>
                          <a href="/inventory/del/<%= item._id %> " class="btn btn-link btn-sm btn-rounded text-danger">
                            <i class="fas fa-trash fa-lg fa-fw"></i>
                          </a>
                      </div>
                  </td>
                </tr>
              <% });%>  
            </tbody>
          </table>
    </div>
<%- include('footer') -%> 