<%- include('header') %> 
<%- include('navbar') %> 

    <div class="container col-8 mt-2">
            <div class="row mb-2">
                <div class="col-sm-10 col-12 mt-2"><h2>Rented <b>Items</b></h2></div>
            </div>
        <table class="table mb-1 bg-light rounded shadow">
            <thead class="bg-dark text-white">
              <tr>
                <th>Name</th>
                <th>Type</th>
                <th>From Date</th>
                <th>To Date</th>
              </tr>
            </thead>
            <tbody>
              <% rentedItems.forEach(function(rent){%>
                <tr class="<%= (rent.date_to < new Date()) ? "table-info" : ""%> ">
                    <td>
                      <div class="d-flex align-items-center">
                         <i class="fas fa-screwdriver fa-2x fa-fw"></i>
                        <div class="ml-3">
                          <p class="fw-bold mb-1 font-weight-bold"><%= rent._item.name %> </p>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="fw-normal mb-1 font-italic"><%=types[rent._item.type]%> </p>
                    </td>
                    <td>
                        <p class="fw-normal mb-1 font-weight-bold"><%= rent.date_from.toDateString()%> </p>
                    </td>
                    <td>
                        <p class="fw-normal mb-1 font-weight-bold"><%= rent.date_to.toDateString() %> </p>
                    </td>
                  </tr>
                  <% });%> 
            </tbody>
          </table>
    </div>
    <%- include('footer') %> 
