<%- include('header') %> 
<%- include('navbar') %> 

    <div class="container col-8 mt-2">
            <div class="row mb-2">
                <div class="col-sm-10 col-12 mt-2"><h2>Rental <b>Requests</b></h2></div>
            </div>
        <table class="table mb-1 bg-light rounded shadow">
            <thead class="bg-dark text-white">
              <tr>
                <th>Person</th>
                <th>Item</th>
                <th>From Date</th>
                <th>To Date</th>
                <th class="pl-4">Actions</th>
              </tr>
            </thead>
            <tbody>
              <% requests.forEach(function(request){%>
                <tr>
                    <td>
                      <div class="d-flex align-items-center">
                         <i class="fas fa-user fa-2x fa-fw"></i>
                        <div class="ml-3">
                          <p class="fw-bold mb-0 font-weight-bold"><%= request.renter.name %> </p>
                          <p class="fw-bold mb-1"><%= request.renter.door_number %> </p>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle">
                      <p class="fw-normal mb-1 font-italic"><%= request.item.name %> </p>
                    </td>
                    <td class="align-middle">
                        <p class="fw-normal mb-1 font-weight-bold"><%= request.date_from %> </p>
                    </td>
                    <td class="align-middle">
                        <p class="fw-normal mb-1 font-weight-bold"><%= request.date_to %> </p>
                    </td>
                    <td class="align-middle">
                        <div class="d-flex align-items-center">
                            <a  href="/request/edit/<%= request._id%> " class="btn btn-link btn-sm btn-rounded text-warning">
                               <i class="fas fa-check fa-lg fa-fw"></i>
                            </a>
                            <a href="/request/del/<%= request._id %> " class="btn btn-link btn-sm btn-rounded text-danger">
                              <i class="fas fa-trash fa-lg fa-fw"></i>
                            </a>
                        </div>
                    </td>
                  </tr>
              <% }) %> 
            </tbody>
          </table>
    </div>
    <%- include('footer') %> 
